  <!DOCTYPE html>
<!--Possible Future Additions:-->
<!--    Refining styling-->
<!--    Use of different metrics-->
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script SRC="js/script.js"></script>
        <link href="css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Weather Site </title> 
        
    </head>
    <body>
        
        <div class="headerContainer">
        <img src="img/sky.jpg" alt="sky">
        <div class="header"<h1>Check the current weather!</h1></div>
        </div>
        <br>
        
         <nav>
            <a href="/">Home</a>
            <a href="/frequent">Frequent</a>
        </nav>