<%- include('partials/header.ejs') %>

        <div id="text">'
        <br>
        <div id ="weather">
            Current Weather for: <span id="name"></span><br>
            Description: <span id="description"></span><br>
            Temperature: <span id="temp"></span><br>
            Wind Speed: <span id="wind"></span><br>
        </div>
        <br>

        <br><br> 
        </div>
        
<%- include('partials/footer.ejs') %>
    </body>
</html>